@charset "UTF-8";
body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}

form {
    margin-bottom: 10px;
}

input {
    padding: 5px;
}

button {
    padding: 5px 10px;
}